@font-face {
    font-family: 'santello';
    src: url('../fonts/santello.ttf');
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    
} 
::-webkit-scrollbar-track {
    background-color: #90e9e4;
    border-radius: 2px;
} 
::-webkit-scrollbar-thumb {
    background-color: #3553ff;
    border-radius: 2px;
}

.textarea-edit-post {
    width: 100%;
    height: 100%;

    border: 1px dashed lightgrey;
    font-family: 'santello';
    font-size: 16px;

    box-sizing: border-box;

    resize: none;
}
.textarea-edit-post::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.textarea-edit-post:focus {
    outline: none;
}

html, body {
    padding: 0;
    margin: 0;

    font-family: 'santello';
}

.timeline {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../images/fon8.jpg') center/cover no-repeat;
}

.timeline__posts-box {
    width: 50%;
    height: 95%;
}

/*////////////////////*/
/*********POSTS********/
/*////////////////////*/
.posts-box__posts {
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 10px;

    padding-left: 5px;
    border-left: 1px solid #90e9e4;
    box-sizing: border-box;

    overflow: auto;
}

.post {
    width: 80%;
    background-color: #fff;

    border-radius: 10px;
    margin: 10px 0;
}

.post__edit-box {
    width: 100%;

    background-color: rgb(154, 221, 241);

    display: flex;
    justify-content: flex-end;

    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding: 5px;
    box-sizing: border-box;
}

.edit-box__item {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: grey;

    margin-left: 5px;
}
.post__ok { background: url('../images/ok.png') center/90% no-repeat }
.post__edit { background: url('../images/edit.png') center/cover no-repeat }
.post__delete { background: url('../images/delete.png') center/cover no-repeat }

.post-text__box {
    padding: 5px;
}

.post-information {
    margin-top: 5px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    
    font-size: 12px;
    color: grey;

    padding: 5px;
    box-sizing: border-box;
}

/*////////////////////*/
/******INPUT BOX*******/
/*////////////////////*/
.posts-box__input-box {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 25px;
    box-sizing: border-box;

    display: flex;
}

.input-box__enter-message {
    width: 100%;
    height: 100%;

    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border: none;
    padding: 5px 10px;
    box-sizing: border-box;

    font-family: 'santello';
    font-size: 14px;

    resize: none;
}
.input-box__enter-message::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.input-box__enter-message:focus {
    outline: none;
}

/*////////////////////*/
/****INPUT BOX BTNS****/
/*////////////////////*/
.input-box__add-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    padding: 0 5px;

    background-color: #ffffff;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.add-buttons-item {
    width: 35px;
    height: 35px;

    border-radius: 50%;
}
.add-buttons-item:hover {
    background-color: rgb(205, 242, 255);
    transition: all 0.3s linear;
}
.add-buttons-item:nth-child(n) {
    margin-right: 5px;
}
.add-buttons-item:last-child {
    margin-right: 0px;
}

/*////////////////////*/
/****ADD FILE BTN******/
/*////////////////////*/
.add-buttons__add-file-box {
    position: relative;
}

.add-buttons__add-file {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.add-buttons__add-file-input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    opacity: 0;
}
/*/////////////////////*/

.add-buttons__send { background: url('../images/enter.png') center/80% no-repeat }
.add-buttons__add-file { background: url('../images/file.png') center/80% no-repeat }
.add-buttons__add-voice { background: url('../images/voice.png') center/80% no-repeat }
.add-buttons__add-video { background: url('../images/video.png') center/80% no-repeat }
.add-buttons__stop-video { background: url('../images/end-video.png') center/80% no-repeat }

/*////////////////////*/
/****NOT GEOLOCATION***/
/*////////////////////*/
.not-location-modal-wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 999;

    background-color: rgba(0, 0, 0, 0.26);
}

.not-location {
    width: 400px;

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-location__title {
    margin-bottom: 20px;
}

.not-location-box {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-location-box div {
    margin-bottom: 10px;
}

.not-location__geolocation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geolocation-input {
    margin-top: 10px;

    width: 100%;
    padding: 5px;

    border: 1px solid lightgrey;
    box-sizing: border-box;

    text-align: center;
}
.geolocation-input:focus {
    outline: none;
}

.not-location__btns-box {
    display: flex;
    justify-content: space-between;

    width: 170px;
}

.btns-box-item {
    width: 80px;
    height: 30px;

    border: none;
    border-radius: 10px;

    background-color: #98cff0;
    cursor: pointer;
}
.btns-box-item:hover { background-color: #54a4d6 }
.btns-box-item:active { background-color: #3786b8 }

/*////////////////////*/
/****MEDIA IN PAGE*****/
/*////////////////////*/

.image, .video {
    width: 100%;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    /* width: 300px; */
    background-color: rgb(253, 247, 194);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;

    color: blueviolet;
}